Package: com.yourname.robloxexecutor
Name: 0x108 Ultra Executor
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Full Lua Support for Roblox iOS 26
Maintainer: Developer
Author: Developer
Section: Tweaks
Depends: mobilesubstrate
